node-red/mqtt-integration.json
[
    {
        "id": "d335125eea1e3638",
        "type": "tab",
        "label": "Dragino LoRa/GPS - MQTT Integration",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e798b2423f867548",
        "type": "mqtt in",
        "z": "d335125eea1e3638",
        "name": "",
        "topic": "application/1/device/adb6f0b21951000a/event/up",
        "qos": "2",
        "datatype": "json",
        "broker": "a4f6152cc864edf8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "9bdb51cc9d7de8f7",
                "08aeaa7590066818"
            ]
        ]
    },
    {
        "id": "a926572b9c8ae38c",
        "type": "worldmap",
        "z": "d335125eea1e3638",
        "name": "",
        "lat": "38.28613",
        "lon": "21.78684",
        "zoom": "12",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "",
        "maplist": "OSMG",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 800,
        "y": 220,
        "wires": []
    },
    {
        "id": "9bdb51cc9d7de8f7",
        "type": "function",
        "z": "d335125eea1e3638",
        "name": "",
        "func": "var name = \"Arduino-1\";\nvar lat = msg.payload.object.location.latitude;\nvar lon = msg.payload.object.location.longitude;\n\nmsg.payload = {\n    \"name\": name,\n    \"lat\": lat,\n    \"lon\": lon\n}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 220,
        "wires": [
            [
                "a926572b9c8ae38c",
                "6029a8bdc1e39e97",
                "a24a77d038f3c526"
            ]
        ]
    },
    {
        "id": "6029a8bdc1e39e97",
        "type": "debug",
        "z": "d335125eea1e3638",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 160,
        "wires": []
    },
    {
        "id": "a24a77d038f3c526",
        "type": "file",
        "z": "d335125eea1e3638",
        "name": "",
        "filename": "/usr/src/node-red/location.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 860,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "08aeaa7590066818",
        "type": "debug",
        "z": "d335125eea1e3638",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "a4f6152cc864edf8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]
